* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
      background: linear-gradient(to top right, #a2d1ee,white, #ffffff );
}

/* Navbar css */

nav.navbar {
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 1;
    background-color: aliceblue;
}

.navbar-brand {
    span {
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
}

.navbar-collapse {
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

/* Navbar css end */

/* Hero section css */

div.container {
     margin-top: 120px;
    .sections {
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;

        a {
            color: black;
            text-decoration: none;

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: sans-serif;
                border-radius: 3px;
                background-color: rgb(166, 217, 237);
                margin: 10px;
                margin-left: 0px;
                height: 80px;
                width: 150px;
            }
        }
    }

    h3:hover {
        transform: translateY(-2px);
        box-shadow: 2px 2px 2px rgb(193, 190, 190);
    }

    

    img {
        border-radius: 5px;
        margin-left: 70px;
    }
}

.name {
    font-size: 4rem;
    font-weight: bold;
}

/* Hero section css end */

/* About section css */

.about{
    position: relative;
}

.about-img {
    border-radius: 50px;

}

.about-section {
    border-radius: 5px;
}

#about-sec{
    margin-bottom: 40px;
}

.links{
    position: absolute;
    top: 350px;
    background-color: aliceblue;
    margin-left: 100px;
    border-radius: 5px;
        a{
          color: rgb(86, 85, 85);
          font-size: 3rem;
          padding: 8px;
          
        }
        
    }

/* About section css end */