* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to top right, #a2d1ee, white, #ffffff);
}

/* Navbar css */

nav.navbar {
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.navbar-brand {
    span {
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
}

.navbar-collapse {
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

/* Navbar css end */

/* Hero section css */

div.container {
    margin-top: 120px;

    .sections {
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;

        a {
            color: black;
            text-decoration: none;

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: sans-serif;
                border-radius: 3px;
                background-color: rgb(166, 217, 237);
                margin: 10px;
                margin-left: 0px;
                height: 80px;
                width: 150px;
            }
        }
    }

    h3:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }



    img {
        border-radius: 5px;
        margin-left: 70px;
    }
}

.name {
    font-size: 4rem;
    font-weight: bold;
}

/* Hero section css end */

/* About section css */

.about-section{
    padding-top: 100px !important;
}

.about {
    position: relative;
}

.about-img {
    border-radius: 50px;

}

.about-section {
    border-radius: 5px;
}

#about-sec {
    margin-bottom: 40px;
}

.links {
    position: absolute;
    top: 350px;
    background-color: aliceblue;
    margin-left: 150px;
    border-radius: 5px;

    a {
        color: rgb(86, 85, 85);
        font-size: 3rem;
        padding: 8px;

    }

}

/* About section css end */

/* Skills section */
div.skills{
    
}

div#skill-section{
    padding-top: 90px !important;
}

div.frontend{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
    margin-left: 50px;
}

div.tools-frontend {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

div.tools-frontend-fl {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin-left: 10px;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

div.tools-database {
    
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}
div.tools-backend {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin-top: 20px !important;
    margin: auto;
    margin-bottom: 20px !important;
    padding-bottom: 50px !important;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

.tool-img {
    height: 180px;
    object-fit: contain;
}



/* Skills section end */

/* Projects Section */



.card:hover{
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card-img-top{
    height: 180px;
    object-fit: cover;
    
}

/* Projects Section end */

/* Contact Section */
  
        #Contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Inter', 'Roboto', sans-serif;

            h2 {
                color: #58A6FF;
                font-size: 2.5em;
                margin-bottom: 15px;
                font-weight: 600;
            }

            h4 {
                color: #0f0f0f;
                font-size: 1.6em;
               
            }

            .info {
                color: rgb(8, 8, 8);
                text-align: left;

                i {
                    padding-right: 3px;
                }

                h4 {
                    padding-bottom: 20px;
                }

                .share {
                    padding-left: 80px;
                    padding-top: 10px;
                    margin-bottom: 50px;

                    a {
                        margin-right: 5px;
                        color: rgb(8, 8, 8);
                        font-size: 1.5em;
                        padding: 7px 6px 6px 9px;
                        border: 1px solid rgb(15, 14, 14);
                        border-radius: 3px;
                        transition: transform 0.3s ease;
                    }

                    a:hover {
                        background-color: #EAEAEA;
                        color: rgb(10, 70, 140);
                        transform: scale(1.1);
                    }
                }
            }

            #reach {
                border: 2px solid #757070;
                border-radius: 5px;
                padding: 35px 0;

                input {
                    color: #0D1117;
                    border: none;
                    border-radius: 5px;
                    height: 35px;
                    margin-top: 10px;
                    padding-left: 3px;
                }

                #msg {
                    width: 197px;
                    height: 75px;
                    border: none;
                    resize: none;
                    border-radius: 5px;
                    padding-left: 3px;
                }

                input::placeholder,
                textarea::placeholder {
                    color: #0D1117;
                    opacity: 1;
                }

                input:focus,
                textarea:focus {
                    outline: 3px solid #04406a;
                }

                button {
                    padding: 3px 10px;
                    color: #0a0a0a;
                    border: none;
                    border-radius: 5px;
                    background: #020024;
                    background: linear-gradient(90deg, #3d98d9 0%, #515ed1 100%);
                    transition: transform 0.5s ease;
                }

                button:hover {
                    transform: scale(1.1);
                    box-shadow: rgba(45, 199, 207, 0.12) 0px 2px 4px 0px,
                        rgba(56, 182, 213, 0.32) 0px 2px 16px 0px;
                }
            }
        }

        @media (max-width: 576px) {

            h2,
            h4 {
                margin-left: 15px;
            }

            p {
                margin-left: 3px;
            }

            #reach {
                margin-right: 15px;
            }

            #Contact {
                margin-bottom: 120px;
            }
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            #Contact {
                margin: 0 250px;
            }
        }

        @media (min-width: 1200px) {
            #Contact {
                margin: 0 300px;
            }
        }
/* Contact Section */

html {
    scroll-behavior: smooth;
}