* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to top right, #a2d1ee, white, #ffffff);
}

/* Navbar css */

nav.navbar {
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.navbar-brand {
    span {
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
}

.navbar-collapse {
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

/* Navbar css end */

/* Hero section css */

div.container {
    margin-top: 120px;

    .sections {
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;

        a {
            color: black;
            text-decoration: none;

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: sans-serif;
                border-radius: 3px;
                background-color: rgb(166, 217, 237);
                margin: 10px;
                margin-left: 0px;
                height: 80px;
                width: 150px;
            }
        }
    }

    h3:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }



    img {
        border-radius: 5px;
        margin-left: 70px;
    }
}

.name {
    font-size: 4rem;
    font-weight: bold;
}

/* Hero section css end */

/* About section css */

.about-section{
    padding-top: 100px !important;
}

.about {
    position: relative;
}

.about-img {
    border-radius: 50px;

}

.about-section {
    border-radius: 5px;
}

#about-sec {
    margin-bottom: 40px;
}

.links {
    position: absolute;
    top: 350px;
    background-color: aliceblue;
    margin-left: 150px;
    border-radius: 5px;

    a {
        color: rgb(86, 85, 85);
        font-size: 3rem;
        padding: 8px;

    }

}

/* About section css end */

/* Skills section */
div.skills{
    
}

div#skill-section{
    padding-top: 90px !important;
}

div.frontend{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
    margin-left: 50px;
}

div.tools-frontend {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

div.tools-frontend-fl {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin-left: 10px;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

div.tools-database {
    
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}
div.tools-backend {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin-top: 20px !important;
    margin: auto;
    margin-bottom: 20px !important;
    padding-bottom: 50px !important;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

.tool-img {
    height: 180px;
    object-fit: contain;
}



/* Skills section end */

/* Projects Section */
        #Projects {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #0D1117;
            padding: 80px 20px;
            font-family: 'Inter', 'Roboto', sans-serif;
            color: white;
            min-height: 100vh;
            margin-bottom: 50px;


            h1 {
                margin-bottom: 40px;
                color: #58A6FF;
                font-size: 3em;
                font-weight: 600;
                text-align: center;
                letter-spacing: 1px;
            }

            #works {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;
                width: 100%;
                max-width: 1200px;
            }

            .card {
                width: 215px;
                min-height: 300px;
                perspective: 1000px;
                cursor: pointer;
                border-radius: 15px;
            }

            .card:hover {
                box-shadow: rgba(32, 167, 224, 0.35) 0px 5px 15px;
            }

            .card-inner {
                width: 100%;
                height: 100%;
                position: relative;
                transform-style: preserve-3d;
                transition: transform 1s ease-in-out;
            }

            .card:hover .card-inner {
                transform: rotateY(180deg);
            }

            .card-front,
            .card-back {
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                backface-visibility: hidden;
                overflow: hidden;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            }

            .card-front {
                /* background: linear-gradient(145deg, white); */
                background: linear-gradient(145deg, #161B22, #0F161F);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: 0.3s ease;
                backface-visibility: hidden;
                pointer-events: none;

                img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                }
            }

            .card-front:hover {
                box-shadow: 0 0 20px #00bfff33;
            }

            .card h5 {
                margin-top: 25px;
                margin-bottom: 25px;
                font-size: 1.3em;
                font-weight: 600;
                letter-spacing: 0.5px;
                color: white;
            }

            .back-msg {
                border: 1px solid ghostwhite;
                padding: 5px;
                margin: 10px 5px;
                border-radius: 10px;
                color: #E6EDF3;
                background-color: #0f1823;
            }

            .msg {
                color: #C9D1D9;
                font-size: 0.8em;

                span {
                    font-size: 1.4em;
                    color: white;
                }
            }

            .card-back {
                background: linear-gradient(145deg, #0D1117);
                color: #0D1117;
                transform: rotateY(180deg);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 1px solid white;
                backface-visibility: hidden;
                pointer-events: auto;

                .btn {
                    text-decoration: none;
                    background: #020024;
                    background: linear-gradient(90deg, #3d98d9 0%, #515ed1 100%);
                    color: white;
                    width: 150px;
                    padding: 10px 20px;
                    border-radius: 30px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    transition: 0.3s;
                    box-shadow: 0 4px 10px rgba(13, 17, 23, 0.3);
                    margin-bottom: 10px;
                }

                .btn:hover {
                    background: white;
                    color: #0b6eb1;
                    transform: scale(1.05);
                    box-shadow: rgba(131, 233, 239, 0.12) 0px 2px 4px 0px,
                        rgba(149, 217, 234, 0.32) 0px 2px 16px 0px;
                }
            }
        }

        @media (max-width: 576px) {
            .card {
                width: 85%;
            }
        }

        @media (min-width: 577px) and (max-width: 768px) {
            .card {
                width: 45%;
            }
        }

        @media (min-width: 769px) and (max-width: 992px) {
            .card {
                width: 28%;
            }
        }

        @media (min-width: 993px) {
            .card {
                width: 18%;
            }
        }


        /* Contact Section */
        #Contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Inter', 'Roboto', sans-serif;

            h2 {
                color: #58A6FF;
                font-size: 2.5em;
                margin-bottom: 15px;
                font-weight: 600;
            }

            h4 {
                color: #E6EDF3;
                font-size: 1.6em;
                margin-bottom: 70px;
            }

            .info {
                color: aliceblue;
                text-align: left;

                i {
                    padding-right: 3px;
                }

                h3 {
                    padding-bottom: 20px;
                }

                .share {
                    padding-left: 80px;
                    padding-top: 10px;
                    margin-bottom: 50px;

                    a {
                        margin-right: 5px;
                        color: white;
                        font-size: 1.5em;
                        padding: 7px 6px 6px 9px;
                        border: 1px solid white;
                        border-radius: 3px;
                        transition: transform 0.3s ease;
                    }

                    a:hover {
                        background-color: #EAEAEA;
                        color: rgb(10, 70, 140);
                        transform: scale(1.1);
                    }
                }
            }

            #reach {
                border: 2px solid #EAEAEA;
                border-radius: 5px;
                padding: 35px 0;

                input {
                    color: #0D1117;
                    border: none;
                    border-radius: 5px;
                    height: 35px;
                    margin-top: 10px;
                    padding-left: 3px;
                }

                #msg {
                    width: 197px;
                    height: 75px;
                    border: none;
                    resize: none;
                    border-radius: 5px;
                    padding-left: 3px;
                }

                input::placeholder,
                textarea::placeholder {
                    color: #0D1117;
                    opacity: 1;
                }

                input:focus,
                textarea:focus {
                    outline: 3px solid #04406a;
                }

                button {
                    padding: 3px 10px;
                    color: #EAEAEA;
                    border: none;
                    border-radius: 5px;
                    background: #020024;
                    background: linear-gradient(90deg, #3d98d9 0%, #515ed1 100%);
                    transition: transform 0.5s ease;
                }

                button:hover {
                    transform: scale(1.1);
                    box-shadow: rgba(45, 199, 207, 0.12) 0px 2px 4px 0px,
                        rgba(56, 182, 213, 0.32) 0px 2px 16px 0px;
                }
            }
        }

        @media (max-width: 576px) {

            h2,
            h4 {
                margin-left: 15px;
            }

            p {
                margin-left: 3px;
            }

            #reach {
                margin-right: 15px;
            }

            #Contact {
                margin-bottom: 120px;
            }
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            #Contact {
                margin: 0 250px;
            }
        }

        @media (min-width: 1200px) {
            #Contact {
                margin: 0 300px;
            }
        }

html {
    scroll-behavior: smooth;
}