* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to top right, #a2d1ee, white, #ffffff);
}

/* Navbar css */

nav.navbar {
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.navbar-brand {
    span {
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
}

.navbar-collapse {
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

/* Navbar css end */

/* Hero section css */

div.container {
    margin-top: 120px;

    .sections {
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;

        a {
            color: black;
            text-decoration: none;

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: sans-serif;
                border-radius: 3px;
                background-color: rgb(166, 217, 237);
                margin: 10px;
                margin-left: 0px;
                height: 80px;
                width: 150px;
            }
        }
    }

    h3:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }



    img {
        border-radius: 5px;
        margin-left: 70px;
    }
}

.name {
    font-size: 4rem;
    font-weight: bold;
}

/* Hero section css end */

/* About section css */

.about-section{
    padding-top: 100px !important;
}

.about {
    position: relative;
}

.about-img {
    border-radius: 50px;

}

.about-section {
    border-radius: 5px;
}

#about-sec {
    margin-bottom: 40px;
}

.links {
    position: absolute;
    top: 350px;
    background-color: aliceblue;
    margin-left: 150px;
    border-radius: 5px;

    a {
        color: rgb(86, 85, 85);
        font-size: 3rem;
        padding: 8px;

    }

}

/* About section css end */

/* Skills section */
div.skills{
    
}

div#skill-section{
    padding-top: 90px !important;
}

div.frontend{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
    margin-left: 50px;
}

div.tools-frontend {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

div.tools-frontend-fl {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin-left: 10px;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

div.tools-database {
    
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}
div.tools-backend {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin-top: 20px !important;
    margin: auto;
    margin-bottom: 20px !important;
    padding-bottom: 50px !important;
    justify-content: center;
    align-self: center;

    .card:hover {
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

}

.tool-img {
    height: 180px;
    object-fit: contain;
}



/* Skills section end */

/* Projects Section */

.project-cards{
    
}

/* Projects Section end */

html {
    scroll-behavior: smooth;
}