* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* height: 110vh; */
    background: linear-gradient(to bottom right, #a2d1ee, #cde7f7, #ffffff);
}

/* Navbar css */

nav.navbar {
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.navbar-brand {
    span {
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
}

.navbar-collapse {
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.nav-link{
    width: fit-content;
    padding: 5px;
    font-size: large;
}

.nav-link:hover{
    background-color: skyblue;
    border-radius: 5px;
}

.nav-link.active {
    background-color: skyblue;   
    border-radius: 5px;
}

/* Navbar css end */

/* Hero section css */

section.Hero-sec {
    margin-top: 120px;

    .sections {
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto auto;

        a {
            color: black;
            text-decoration: none;

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: sans-serif;
                border-radius: 10px;
                transition: transform 0.5s ease;
                background-color: rgb(77, 197, 244);
                margin: 10px;
                margin-left: 0px;
                height: 80px;
                width: 150px;
            }
        }
    }

    h3:hover {
        transform: translateY(-2px);
        transition: transform 0.5 ease;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    img {
        border-radius: 5px;
        margin-left: 70px;

    }
}

.name {
    
        color: #58A6FF;
        font-size: 4em;
        margin-bottom: 15px;
        font-weight: 600;
}

#role-text {
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.6s ease;
    white-space: nowrap;
    font-family: sans-serif;
    overflow: hidden;
    border-right: 3px solid #898888;
    width: 0;

    /* animation starts from 0 width */
    animation: typing 4s steps(20), blink 0.7s step-end infinite;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

/* Blinking cursor effect */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

        /* Media Queries start */
                /* Extra small (phones) */
                @media (max-width: 480px) {
                    /* mobile styles */
                    .intro{
                        display: none;
                    }
                }

                /* Small devices (big phones, small tablets) */
                @media (max-width: 768px) {
                    /* portrait tablets + large mobiles */
                    div#sections{
                       display: none;
                    }

                }

                /* Medium devices (tablets landscape) */
                @media (max-width: 1024px) {
                    .intro{
                        display: none;
                    }
                }

        /* Media Queries end */

/* Hero section css end */

/* About section css */

.about-section {
    padding-top: 100px !important;
    background-color: rgb(216, 215, 215);
    display: flex;
    border-radius: 5px;
}

.about {
    position: relative;
    width: fit-content;
}

.about-ms{
    display: none;
}

.about-img {
    border-radius: 50px;
    object-fit: cover;
    margin-left: 60px;
}

.links {
    /* position: absolute; */
    margin-top: 10px;
    width: fit-content;
    top: 350px;
    background-color: aliceblue;
    margin-left: 150px;
    border-radius: 5px;

    a {
        color: rgb(86, 85, 85);
        font-size: 3rem;
        padding: 8px;

    }

}

      /* Media Queries start */
                /* Extra small (phones) */
                @media (max-width: 480px) {
                    /* mobile styles */
                   
                }

                /* Small devices (big phones, small tablets) */
                
                    /* portrait tablets + large mobiles */
                    @media(max-width: 768px) {
                            .about-section {
                                display: none !important;
                            }
                            .about-ms{
                                display: block;
                                margin: 0px !important;
                            }

                            .about-img {
                               height: 280px !important;
                            }

                            .links {
                                margin-top: 10px;
                            }

                            .name-abt{
                                display: none;
                            }
                        }
                

                /* Medium devices (tablets landscape) */
                @media (max-width: 1024px) {

                    #About-sec{
                        padding: 0%;
                        margin-top: 0%;
                        
                    }

                    .about-section{
                       display: block;
                       background-color: transparent;
                    }

                    .about{
                         display: block;
                         justify-content: center;
                         align-items: center;
                         margin-left: 0px;
                    }

                    .about-img{
                        height: 350px;
                        margin-left: 0%;
                    }

                    .abt-msg{
                        background-color: rgb(236, 235, 235);
                        padding: 20px;
                        border-radius: 20px;
                    }

                }

                /* Large screens (desktops) */
                @media (max-width: 1200px) {
                    /* desktops */
                }

        /* Media Queries end */

/* About section css end */

/* Skills section */


#Skills {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Inter', 'Roboto', sans-serif;
            color: white;
            margin: 0% !important;

            h1 {
                color: #58A6FF;
                font-weight: 600;
                font-size: 4rem;
                text-align: center;
            }

            /* Cards Container */
            #cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 100%;
                
                .skill-card {
                    height: 250px;
                    width: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    overflow: hidden;
                    text-align: center;
                    color: #F0F6FC;
                    background-color: #161B22;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    transition: transform 0.5s ease;

                    img {
                        width: 150px;
                        height: 150px;
                        margin: 10px 0 !important;
                        object-fit: contain;
                        margin-bottom: 10px;
                        border-radius: 10px;
                    }

                    h5 {
                        font-size: 1.5em;
                    }
                }

                .skill-card:hover {
                    transform: scale(1.05);
                    box-shadow: rgba(16, 153, 212, 0.35) 0px 5px 15px;
                }
            }
        }

        @media (max-width: 576px) {
            #Skills {
                height: auto;
            }

            .skill-card {
                width: 90%;
            }
        }

        @media (min-width: 577px) and (max-width: 768px) {
            #Skills {
                height: auto;
            }

            .skill-card {
                width: 45%;
            }
        }

        @media (min-width: 769px) and (max-width: 992px) {
            #Skills {
                height: auto;
            }

            .skill-card {
                width: 30%;
            }
        }

        @media (min-width: 993px) {
            .skill-card {
                width: 18%;
            }
        }  



/* Skills section end */

/* Projects Section */

.card{
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: transform 0.5s ease;
}

.card-img-top {
    height: 180px;
    object-fit: cover;

}

/* Projects Section end */

/* Contact Section */

#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', 'Roboto', sans-serif;
    margin-bottom: 20PX;

    .col2{
        background-color: rgb(175, 215, 232);
    }

    h2 {
        color: #58A6FF;
        font-size: 3em;
        margin-bottom: 15px;
        font-weight: 600;
    }

    h4 {
        color: #0f0f0f;
        font-size: 1.6em;

    }

    .info {
        color: rgb(8, 8, 8);
        text-align: left;
        margin: auto;
        margin-left: 100px;

        .mails{
            text-decoration: none;
            color: #020024;
        }

        i {
            padding-right: 3px;
        }

        h4 {
            padding-bottom: 20px;
        }

        .share {
            margin: 0px 0px 10px 40px;

            a {
                margin-right: 5px;
                color: rgb(8, 8, 8);
                font-size: 1.5em;
                padding: 7px 6px 6px 9px;
                border: 1px solid rgb(15, 14, 14);
                border-radius: 3px;
                transition: transform 0.3s ease;
            }

            a:hover {
                background-color: #EAEAEA;
                color: rgb(10, 70, 140);
            }
        }
    }

    #mail {
        border: 2px solid #757070;
        border-radius: 5px;
        padding: 35px 0px;

        input {
            color: #0D1117;
            border: none;
            border-radius: 5px;
            height: 35px;
            margin-top: 10px;
            padding-left: 3px;
            width: 400px;
        }

        #msg {
            width: 400px;
            height: 75px;
            border: none;
            resize: none;
            border-radius: 5px;
            padding-left: 3px;
        }

        input::placeholder,
        textarea::placeholder {
            color: #7c7d7e;
            opacity: 1;
        }

        input:focus,
        textarea:focus {
            outline: 3px solid #04406a;
        }

        button {
            
            transition: transform 0.5s ease;
        }

        button:hover {
            transform: scale(1.1);
            box-shadow: rgba(45, 199, 207, 0.12) 0px 2px 4px 0px,
                rgba(56, 182, 213, 0.32) 0px 2px 16px 0px;
                transition: transform 0.5s ease;
        }
    }
}



@media(max-width: 768px) {
    
    .info{
        margin-left: 10% !important;
        margin-bottom: 10% !important;
    }

    #Contact h2 {
        padding-bottom: 0%;
        margin-top: 120px !important;
        margin-bottom: 0% !important;
        text-align: center;
    }

    #Contact .row {
        flex-direction: column;
        text-align: center;
    }

    #reach {
        width: auto;
        margin: auto;
    }
    
     input, #msg {
        width: 200px !important;
     }
    

    #reach, 
    #reach textarea {
        width: 70%;
    }
}



/* Contact Section */

/* Footer start */

.footer {
    background: #4f4e4e;
    color: #eee;
    padding-top: 20px !important;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    h3{
     text-align: center;
     font-size: 24px;
    font-weight: 600;
    } 
}

/* Footer bottom text */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #777;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }


}


/* Footer end */

html {
    scroll-behavior: smooth;
}